<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atstrack.ats.ats_vhf_receiver">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"
        tools:ignore="ManifestOrder" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:exported="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:noHistory="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AcousticUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".AcousticOptionActivity"
            android:exported="false" />
        <activity
            android:name=".AcousticMenuActivity"
            android:exported="false" />
        <activity
            android:name=".VhfRawDataActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VhfEnterFrequencyActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VhfUpdateActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VhfValueDetectionFilterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VhfValueDefaultsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VhfStationaryDefaultsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VhfMobileDefaultsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VhfDiagnosticsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VhfCloneActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VhfDetectionFilterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VhfEditDefaultsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VhfConfigurationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VhfStationaryScanActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VhfMobileScanActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VhfManualScanActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VhfScanningActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VhfMenuActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VhfFrequenciesActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VhfTablesActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VhfManageDataActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:exported="true" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BluetoothATS.BluetoothLeService"
            android:enabled="true"
            android:exported="false"
            android:permission="TODO" />
    </application>

</manifest>