<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atstrack.ats.ats_vhf_receiver">

    <application
        android:allowBackup="true"
        android:exported="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:noHistory="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EnterFrequencyActivity"
            android:exported="true" />
        <activity
            android:name=".ReceiverUpdateActivity"
            android:exported="true" />
        <activity
            android:name=".StationaryScanningActivity"
            android:exported="true" />
        <activity
            android:name=".AerialScanningActivity"
            android:exported="true" />
        <activity
            android:name=".TemporaryStationaryActivity"
            android:exported="true" />
        <activity
            android:name=".TemporaryAerialActivity"
            android:exported="true" />
        <activity
            android:name=".SelectValueActivity"
            android:exported="true" />
        <activity
            android:name=".InputValueActivity"
            android:exported="true" />
        <activity
            android:name=".StationaryDefaultsActivity"
            android:exported="true" />
        <activity
            android:name=".AerialDefaultsActivity"
            android:exported="true" />
        <activity
            android:name=".TestReceiverActivity"
            android:exported="true" />
        <activity
            android:name=".CloneReceiverActivity"
            android:exported="true" />
        <activity
            android:name=".SetTransmitterTypeActivity"
            android:exported="true" />
        <activity
            android:name=".EditReceiverDefaultsActivity"
            android:exported="true" />
        <activity
            android:name=".ReceiverConfigurationActivity"
            android:exported="true" />
        <activity
            android:name=".StationaryScanActivity"
            android:exported="true" />
        <activity
            android:name=".AerialScanActivity"
            android:exported="true" />
        <activity
            android:name=".ManualScanActivity"
            android:exported="true" />
        <activity
            android:name=".StartScanningActivity"
            android:exported="true" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="true" />
        <activity
            android:name=".EditTablesActivity"
            android:exported="true" />
        <activity
            android:name=".TableOverviewActivity"
            android:exported="true" />
        <activity
            android:name=".GetDataActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:exported="true" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BluetoothATS.BluetoothLeService"
            android:enabled="true"
            android:exported="false"
            android:permission="TODO" />
    </application>
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"
        tools:ignore="ManifestOrder" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>